*,
html {
    box-sizing: border-box;
}

body {
    margin: auto;
}

header {
    height: 80px;
    background-color: #152237;
    display: flex;
}

.logo {
    width: 5.25rem;
    height: 1.938rem;
    margin-top: 1.563rem;
}


.p1 {
    padding-top: 20px;
    padding-left: 25px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    color: white;
    font-size: 15px;
    width: 110px;

}

.search {
    width: 477px;
    height: 40px;
    margin-top: 20px;
    margin-left: 200px;
    border: 1px solid white;
    background-color: #152237;
    border-radius: 6px;
    text-align: left;
    color: white;
}

.search1 {
    width: 2rem;
    left: 2rem;

}

.Connexion {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: white;
}

.Inscription {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 6px;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}

.SectionHéro {
    position: relative;
    display: inline-block;
    width: 100%;
}

.SectionHéro img {
    display: block;
    width: 100%;
}

.SectionHéro:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
}

.cc h1 {
    color: #152237;
    position: absolute;
    top: 5%;
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    padding-left: 300px;
    font-size: 48px;

}

.Contenu {
    width: 100%;
}

.Contenue {
    width: 100%;
}

.cc p {
    color: #152237;
    font-size: 24px;
    position: absolute;
    top: 27%;
    padding-left: 800px;
    text-transform: uppercase;
    font-size: 20px;

}

.btn2 {
    position: absolute;
    top: 35%;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    margin-left: 800px;
    background-color: white;
}

.contenu h2 {
    width: 486px;
    height: 72px;
    margin-left: 97px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;




}

.formation {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 150px;
    margin-left: 50px;

}

.box {
    height: 362px;

}

p {
    width: 243px;
}

.btn3 {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    background: #152237;
    color: white;
    margin-left: 630px;
    margin-top: 80px;
}

.Contenue h2 {
    padding-top: 10px;
    width: 243px;
}

.formations {
    background-color: #152237;
    color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 150px;


}

.box2 {
    margin-top: 136px;
    margin-left: 50px;
}

.btn4 {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    background: white;
    color: #152237;
    margin-left: 550px;
    margin-top: -80px;
}

.avis {
    height: 597px;
}

.avis h1 {
    text-align: center;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.client h2 {
    text-align: left;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 24px;
}

.client {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 10px;
    margin-left: 100px;
}

.client1 p {
    width: 550px;
    height: 306px;
    font-family: "Montserrat", sans-serif;

}

.client2 p {
    width: 550px;
    height: 306px;
    font-family: "Montserrat", sans-serif;
}

.tout {
    width: 616px;
    height: 295px;
}

.klivio {
    width: 616px;
    height: 295px;
}

.juliette {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;

}

.camille {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.avantages {
    background-color: #F5F5F5;
    height: 641px;

}

.avantages h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

.icone {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;


}

.avantages {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.avantages .fleche {
    list-style-image: url("A7/icones/arrow-up-right.svg");


}

.avantages .crayon {
    list-style-image: url("A7/icones/crayon.svg");
   
}

.avantages .import {
    list-style-image: url("A7/icones/exporter.svg");
}

.avantages .etoile {
    list-style-image: url("A7/icones/star-02.svg");
}

.avantages .horloge {
    list-style-image: url("A7/icones/clock.svg");
}

.avantages .mess {
    list-style-image: url("A7/icones/mess.svg");
}

.imgf {
    margin-left: 660px;
    object-position: right top;
    margin-top: -350px;
}