body {
    margin: auto;
}

header {
    width: 1680px; 
    height: 80px;
    background-color: #152237;
    display: flex;
}

.logo {
    width: 5.25rem;
    height: 1.938rem;
    padding-right: 6.125rem;
    margin-left: 98px;
    padding-top: 1.563rem;
}

.p1 {
    padding-top: 20px;
    padding-left: 25px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
    width: 110px;

}

.search {
    width: 477px;
    height: 40px;
    margin-top: 20px;
   margin-left: 200px;
    border: 1px solid white;
    background-color: #152237;
    border-radius: 6px;
    text-align: left;
    color: white;
}

.search1 {
    width: 22, 06px;
    height: 24px;
    padding-top: 28px;
    padding-left: 1180px;
    position : absolute;
}

.Connexion {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 6px;
    background-color: white;
}

.Inscription {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 6px;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}
.SectionHéro{
    background: linear-gradient(to left, #44DD8A 0%, #15B7E2 100%);
    height: 451px;
}

.SectionHéro img {
    display: block;
    width: 1680px;  
}
.cc h1{
   color:#152237;
  position : absolute;
  top : 5%; 
  padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: "ExtraBold", sans-serif;
    padding-left: 300px;
    font-size:48px ;
    
}
.cc p{
  color:#152237;
  font-size:24px;
  position : absolute;
  top : 27%; 
  padding-left: 350px;
  text-transform: uppercase;
  font-size: 20px;
 
} 
.btn2{
    position : absolute;
  top : 35%; 
    width: 130px;
    height: 40px;
border-radius: 6px;
    margin-left: 800px;
    background-color: white;
}
h2{width: 486px;
    height: 72px;
    margin-left: 97px;
    font-family: "Montserrat", sans-serif;
        font-weight: "ExtraBold", sans-serif;


}
.verts{
    width: 305px;
    height: 206px;
    margin-left: 100px;
}
h3{
    margin-left: 114px;
}
p{
margin-left: 114px;
}
.un .etoile{
    margin-left: 114px;   
}
.deux{
    position: absolute;
    top:643px;
    left: 390px;
    overflow: hidden;
}
.deux .etoile{
    margin-left: 110px;
} 
.trois{
       position: absolute;
    top:644px;
    left:880px ;
    overflow: hidden;
}
.quatre{
          position: absolute;
    top:644px;
    left:1274px ;
    overflow: hidden; 
}