*,
html {
    box-sizing: border-box;
}

body {
    margin: auto;
}

@media screen and (max-width:24.563rem) {
    header .p1 {
        display: none;
    }

    header .search {
        display: none;
    }

    header .search1 {
        display: none;
    }

    header .Connexion {
        display: none;
    }

    header .Inscription {
        display: none;
    }
    header .burger{
        margin-left: 5.625rem;
    }
}

header {
    height: 5rem;
    background-color: #152237;
    display: flex;
}

.logo {
    width: 5.25rem;
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 6.125rem;
}


.p1 {
    padding-top: 1.25rem;
    padding-left: 6.25rem;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    color: white;
    font-size: 0.938rem;
    width: 16.875rem;
}

.search {
    width: 29.813rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 6.25rem;
    border: 1px solid white;
    background-color: #152237;
    border-radius: 0.375;
    text-align: left;
    color: white;
}

.search1 {
    width: 2rem;
    left: 2rem;
    margin-left: -2.5rem;
}

.Connexion {
    width: 8.125rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 12.5rem;
    border-radius: 0.375rem;
    background-color: white;
}

.Inscription {
    width: 8.125rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 1.125rem;
    border-radius: 0.375rem;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}

@media screen and (max-width:24.563REM) {
 .SectionHéro .img{
    height: 22.625rem;
 }
 .SectionHéro.h1{
    
 }
     
}

.SectionHéro {
    position: relative;
    display: inline-block;
    width: 100%;
}

.SectionHéro img {
    display: block;
    width: 100%;
}


.SectionHéro:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
}

.cc h1 {
    color: #152237;
    position: absolute;
    top: 5%;
    padding-top: 6.25rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    padding-left: 18.75rem;
    font-size: 3rem;
    z-index: 10;
}

.cc p {
    color: #152237;
    position: absolute;
    top: 27%;
    margin-top: 6.25rem;
    margin-left: 30rem;
    text-transform: uppercase;
    z-index: 10;
    font-size: 1.25rem;
}

.btn2 {
    position: absolute;
    top: 35%;
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    margin-left: 46.875rem;
    margin-top: 6.875rem;
    background-color: white;
    z-index: 10;
}

@media screen and (max-width:24.563rem) {
  .formation{
   display: grid;
  }

}

.Contenu {
    width: 100%;
}

.Contenu h2 {
    height: 4.5rem;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 2.25rem;
    padding-top: 1.875rem;
    padding-left: 3.75rem;
}

.Contenu .prix {
    display: flex;
    width: 7.5rem;
    height: 1.938rem;
    background-color: #152237;
    border-radius: 1.875rem;
    color: white;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    margin-top: -1.875rem;
    position: absolute;
    margin-left: 10rem;
}

.prix .petit {
    text-align: center;
    margin-bottom: -1.25rem;
    text-decoration: line-through;
    margin-left: 1.25rem;
    font-size: 0.625rem;


}

.formation {
    display: grid;
    grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem;
    gap: 8.125rem;
    margin-left: 3.125rem;
    margin-top: 3.75rem;
}

.box {
    height: 22.625rem;
}

.box p {
    width: 15.188rem;
}

.btn3 {
    width: 14.063rem;
    height: 2.5rem;
    border-radius: 0.375;
    background: #152237;
    color: white;
    margin-left: 39.375rem;
    margin-top: 5rem;
}

.Contenue {
    width: 100%;
    background-color: #152237;
    color: white;
}

.Contenue .prix2 {
    display: flex;
    width: 7.5rem;
    height: 1.938rem;
    background-color: white;
    border-radius: 1.875rem;
    color: #152237;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    margin-top: -1.875rem;
    position: absolute;
    margin-left: 10rem;
}

.prix2 .grand {
    font-family: "Montserratf", sans-serif;

}

.prix2 .petitt {
    text-align: center;
    margin-bottom: -1.25rem;
    text-decoration: line-through;
    margin-left: 2.188rem;
    font-size: 0.625rem;
}

.Contenue h2 {
    padding-top: 0.625rem;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 2.25rem;
    padding-top: 3.125rem;
    padding-left: 3.125rem;
}

.Contenu h3 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
}


.formations {
    background-color: #152237;
    color: white;
    display: grid;
    grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem;
    gap: 8.125rem;
    margin-top: -6.25rem;
}

.formations .v {
    width: 16.25rem;
}

.box2 {
    margin-top: 8.5rem;
    margin-left: 3.125rem;
}

.btn4 {
    width: 14.063rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    background: white;
    color: #152237;
    margin-left: 34.375rem;
    margin-top: -5rem;
}

.avis {
    height: 33.125rem;
}

.avis h1 {
    text-align: center;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    margin-top: 3.625rem;
}

.client h2 {
    text-align: left;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 1.5rem;
}

.client {
    display: grid;
    grid-template-columns: 37.5rem 37.5rem;
    gap: 0.625rem;
    margin-left: 6.25rem;
    margin-top: 6.25rem;
}

.client1 p {
    width: 34.375rem;
    height: 19.125rem;
    font-family: "Montserrat", sans-serif;
}

.client2 p {
    width: 34.375rem;
    height: 19.125rem;
    font-family: "Montserrat", sans-serif;
}

.tout {
    width: 38.5rem;
    height: 18.438em;
}


.juliette {
    width: 9.375rem;
    height: 9.375rem;
    border: none;
    -moz-border-radius: 4.688rem;
    -webkit-border-radius: 4.688rem;
    border-radius: 4.688rem;
}

.camille {
    width: 9.375rem;
    height: 9.375rem;
    border: none;
    -moz-border-radius: 4.688rem;
    -webkit-border-radius: 4.688rem;
    border-radius: 4.688rem;
}

.avantages {
    background-color: #F5F5F5;
    height: 40.063rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    padding-left: 1.875rem;
}


.avantages h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 2.25rem;
    padding-top: 4.938rem;
}

.avantages .fleche {
    list-style-image: url("A7/icones/arrow-up-right.svg");
    padding-left: 1.25rem;
    line-height: 2.5rem;
}

.avantages .crayon {
    list-style-image: url("A7/icones/crayon.svg");
    padding-left: 1.25rem;
    line-height: 2.5rem;
}

.avantages .import {
    list-style-image: url("A7/icones/exporter.svg");
    padding-left: 1.25rem;
    line-height: 2.5rem;
}

.avantages .etoile {
    list-style-image: url("A7/icones/star-02.svg");
    padding-left: 1.25rem;
    line-height: 2.5rem;
}

.avantages .horloge {
    list-style-image: url("A7/icones/clock.svg");
    padding-left: 1.25rem;
    line-height: 2.5rem;
}

.avantages .mess {
    list-style-image: url("A7/icones/mess.svg");
    padding-left: 1.25rem;
    line-height: 2.5rem;
    width: 34.375rem;
}

.imgf {
    margin-left: 38.75rem;
    object-position: right top;
    margin-top: -23.125rem;
    width: 45.438rem;
    height: 29.5rem;
}

.frmt {
    background-color: #44DD8A;
    text-align: right;
    height: 40.063rem;
}

.frmt-contenu {
    display: flex;
    flex-direction: row;
}

.frmt .taille {
    margin-top: 6.25rem;
}

.frmt li {
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.frmt h3 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 2.813rem;
    text-transform: uppercase;
}


.frmt .coin {
    list-style-image: url("A7/icones/coin.svg");
    padding-left: 0.625rem;
}

.frmt .coeur {
    list-style-image: url("A7/icones/coeur.svg");
    padding-left: 0.625rem;

}

.frmt .crayon2 {
    list-style-image: url("A7/icones/crayon2.svg");
    padding-left: 0.625rem;
}

.frmt .settings {
    list-style-image: url("A7/icones/settings.svg");
    padding-left:0.625rem;
}

.frmt .profil {
    list-style-image: url("A7/icones/profil.svg");
    padding-left: 0.625rem;
}

.frmt .photo {
    width: 45.563rem;
    height: 30.438em;
}

.propos {

    height: 46.25rem;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
}

.propos .taille {
    width: 42rem;
    height: 18.438rem;
}

.propos .txt {
    width: 42.875rem;
    height: 23.25rem;
    text-align: left;
    margin-top: 10rem;
    margin-left: 4.375rem;
}

.propos h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.propos p {
    font-family: "Montserrat", sans-serif;
    line-height: 1.75rem;
}

.propos .color {
    background-color: #152237;
    width: 51.875rem;
}

.propos .logo2 {
    width: 26.875rem;
    height: 9.688rem;
    margin-top: 18.25rem;
    margin-left: 7.5rem;
}

.formulaire h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}

.l {
    width: 21.875rem;
    color: #44DD8A;
}

.formulaire .name {
    background-color: #152237;
    color: white;
    width: 34.375rem;
    height: 2.828rem;
    margin-left: 8.75rem;
    margin-top: 1.875rem;
}

.formulaire .mail {
    background-color: #152237;
    color: white;
    width: 34.375rem;
    height: 2.828rem;
    margin-left: 3.125rem;
}

.formulaire .mess {
    background-color: #152237;
    color: white;
    width: 71.995rem;
    height: 12.165rem;
    margin-top: 3.125rem;
    margin-left: 8.75rem;
}

.formulaire .Envoyer {
    background-color: #44DD8A;
    width: 21.973rem;
    height: 2.831rem;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 0.938rem;
    margin-top: 6.25rem;
    border-radius: 0.375rem;
    margin-left: 31.25rem;
}

.vide {
    height: 1.125rem;
    background: linear-gradient(to left, #44DD8A, #15B7E2);

}

.footer {
    background-color: #152237;
    height: 30.563rem;
    margin-top: 5.625rem;

}

.footer .info {
    display: flex;
    gap: 3.75rem;
    margin-left: 31.25rem;
    margin-top: -6.25rem;
}

.footer h1 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 0.938rem;

}

.footer .info1 {
    color: white;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin-left: -2.5rem;

}

.footer .info2 {
    color: white;

}

.footer .marque {
    list-style-image: url("A7/icones/marker-02.svg");
    line-height: 1.875rem;
    font-family: "Montserrat", sans-serif;

}

.footer .tel {
    list-style-image: url("A7/icones/tel.svg");
    line-height: 1.875rem;
    font-family: "Montserrat", sans-serif;

}

.footer .mail {
    list-style-image: url("A7/icones/mail-01.svg");
    font-family: "Montserrat", sans-serif;

}

.footer .log {
    width: 15.188rem;
    height: 5.438rem;
    margin-top: 6.813rem;
    margin-left: 6rem;
}

.footer .btn {
    display: grid;
    gap: 0.375rem;
    margin-left: 71.875rem;
    margin-top: -10.625rem;
}

.footer .co {
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.375rem;
}

.footer .ins {
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}

.ligne {
    margin-top: 6.25rem;
    color: #44DD8A;
    width: 75rem;
}

.fin {
    color: white;
}

.fin .un {
    margin-left: 6rem;
    font-family: "Montserrat", sans-serif;
    font-size: 0.938rem;
}

.fin .deux {
    margin-left: 62.5rem;
    margin-top: 1.875rem;
    font-family: "Montserrat", sans-serif;
}

.fin .reseau {
    display: flex;
    gap: 0.625rem;
    margin-left: 70rem;
    margin-top: -2.5rem;
}