*,
html {
    box-sizing: border-box;
}

body {
    margin: auto;
}

@media screen and (max-width:393px) {
    header .p1 {
        display: none;
    }

    header .search {
        display: none;
    }

    header .search1 {
        display: none;
    }

    header .Connexion {
        display: none;
    }

    header .Inscription {
        display: none;
    }
    header .burger{
        margin-left: 90px;
    }
}

header {
    height: 80px;
    background-color: #152237;
    display: flex;
}

.logo {
    width: 5.25rem;
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 98px;
}


.p1 {
    padding-top: 20px;
    padding-left: 100px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    color: white;
    font-size: 15px;
    width: 270px;
}

.search {
    width: 477px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid white;
    background-color: #152237;
    border-radius: 6px;
    text-align: left;
    color: white;
}

.search1 {
    width: 2rem;
    left: 2rem;
    margin-left: -40px;
}

.Connexion {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: white;
}

.Inscription {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 6px;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}

@media screen and (max-width:393px) {
 .SectionHéro .img{
    height: 362px;
 }
 .SectionHéro.h1{
    visible
 }
     
}

.SectionHéro {
    position: relative;
    display: inline-block;
    width: 100%;
}

.SectionHéro img {
    display: block;
    width: 100%;
}


.SectionHéro:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
}

.cc h1 {
    color: #152237;
    position: absolute;
    top: 5%;
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    padding-left: 18.75rem;
    font-size: 3rem;
    z-index: 10;
}

.cc p {
    color: #152237;
    position: absolute;
    top: 27%;
    margin-top: 6.25rem;
    margin-left: 30rem;
    text-transform: uppercase;
    z-index: 10;
    font-size: 1.25rem;
}

.btn2 {
    position: absolute;
    top: 35%;
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    margin-left: 46.875rem;
    margin-top: 6.875rem;
    background-color: white;
    z-index: 10;
}

@media screen and (max-width:393px) {
  .formation{
   display: grid;
  }

}

.Contenu {
    width: 100%;
}

.Contenu h2 {
    height: 72px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 36px;
    padding-top: 30px;
    padding-left: 60px;
}

.Contenu .prix {
    display: flex;
    width: 120px;
    height: 31px;
    background-color: #152237;
    border-radius: 30px;
    color: white;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    margin-top: -30px;
    position: absolute;
    margin-left: 160px;
}

.prix .petit {
    text-align: center;
    margin-bottom: -20px;
    text-decoration: line-through;
    margin-left: 20px;
    font-size: 10px;


}

.formation {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 130px;
    margin-left: 50px;
    margin-top: 60px;
}

.box {
    height: 362px;
}

.box p {
    width: 243px;
}

.btn3 {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    background: #152237;
    color: white;
    margin-left: 630px;
    margin-top: 80px;
}

.Contenue {
    width: 100%;
    background-color: #152237;
    color: white;
}

.Contenue .prix2 {
    display: flex;
    width: 120px;
    height: 31px;
    background-color: white;
    border-radius: 30px;
    color: #152237;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    margin-top: -30px;
    position: absolute;
    margin-left: 160px;
}

.prix2 .grand {
    font-family: "Montserratf", sans-serif;

}

.prix2 .petitt {
    text-align: center;
    margin-bottom: -20px;
    text-decoration: line-through;
    margin-left: 35px;
    font-size: 10px;
}

.Contenue h2 {
    padding-top: 10px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 36px;
    padding-top: 50px;
    padding-left: 50px;
}

.Contenu h3 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
}


.formations {
    background-color: #152237;
    color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 130px;
    margin-top: -100px;
}

.formations .v {
    width: 260px;
}

.box2 {
    margin-top: 136px;
    margin-left: 50px;
}

.btn4 {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    background: white;
    color: #152237;
    margin-left: 550px;
    margin-top: -80px;
}

.avis {
    height: 530px;
}

.avis h1 {
    text-align: center;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    margin-top: 58px;
}

.client h2 {
    text-align: left;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 24px;
}

.client {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 10px;
    margin-left: 100px;
    margin-top: 100px;
}

.client1 p {
    width: 550px;
    height: 306px;
    font-family: "Montserrat", sans-serif;
}

.client2 p {
    width: 550px;
    height: 306px;
    font-family: "Montserrat", sans-serif;
}

.tout {
    width: 616px;
    height: 295px;
}


.juliette {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.camille {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.avantages {
    background-color: #F5F5F5;
    height: 641px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 30px;
}


.avantages h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 79px;
}

.avantages .fleche {
    list-style-image: url("A7/icones/arrow-up-right.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .crayon {
    list-style-image: url("A7/icones/crayon.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .import {
    list-style-image: url("A7/icones/exporter.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .etoile {
    list-style-image: url("A7/icones/star-02.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .horloge {
    list-style-image: url("A7/icones/clock.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .mess {
    list-style-image: url("A7/icones/mess.svg");
    padding-left: 20px;
    line-height: 40px;
    width: 550px;
}

.imgf {
    margin-left: 620px;
    object-position: right top;
    margin-top: -370px;
    width: 727px;
    height: 472px;
}

.frmt {
    background-color: #44DD8A;
    text-align: right;
    height: 641px;
}

.frmt-contenu {
    display: flex;
    flex-direction: row;
}

.frmt .taille {
    margin-top: 100px;
}

.frmt li {
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.frmt h3 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 45px;
    text-transform: uppercase;
}


.frmt .coin {
    list-style-image: url("A7/icones/coin.svg");
    padding-left: 10px;
}

.frmt .coeur {
    list-style-image: url("A7/icones/coeur.svg");
    padding-left: 10px;

}

.frmt .crayon2 {
    list-style-image: url("A7/icones/crayon2.svg");
    padding-left: 10px;
}

.frmt .settings {
    list-style-image: url("A7/icones/settings.svg");
    padding-left: 10px;
}

.frmt .profil {
    list-style-image: url("A7/icones/profil.svg");
    padding-left: 10px;
}

.frmt .photo {
    width: 729px;
    height: 487px;
}

.propos {

    height: 740px;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
}

.propos .taille {
    width: 672px;
    height: 295px;
}

.propos .txt {
    width: 686px;
    height: 372px;
    text-align: left;
    margin-top: 160px;
    margin-left: 70px;
}

.propos h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

.propos p {
    font-family: "Montserrat", sans-serif;
    line-height: 28px;
}

.propos .color {
    background-color: #152237;
    width: 830px;
}

.propos .logo2 {
    width: 430px;
    height: 155px;
    margin-top: 292px;
    margin-left: 120px;
}

.formulaire h2 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.l {
    width: 350px;
    color: #44DD8A;
}

.formulaire .name {
    background-color: #152237;
    color: white;
    width: 550px;
    height: 45.25px;
    margin-left: 140px;
    margin-top: 30px;
}

.formulaire .mail {
    background-color: #152237;
    color: white;
    width: 550px;
    height: 45.25px;
    margin-left: 50px;
}

.formulaire .mess {
    background-color: #152237;
    color: white;
    width: 1151.92px;
    height: 194.64px;
    margin-top: 50px;
    margin-left: 140px;
}

.formulaire .Envoyer {
    background-color: #44DD8A;
    width: 351.56px;
    height: 45.3px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 15px;
    margin-top: 100px;
    border-radius: 6px;
    margin-left: 500px;
}

.vide {
    height: 18px;
    background: linear-gradient(to left, #44DD8A, #15B7E2);

}

.footer {
    background-color: #152237;
    height: 489px;
    margin-top: 90px;

}

.footer .info {
    display: flex;
    gap: 60px;
    margin-left: 500px;
    margin-top: -100px;
}

.footer h1 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 15px;

}

.footer .info1 {
    color: white;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin-left: -40px;

}

.footer .info2 {
    color: white;

}

.footer .marque {
    list-style-image: url("A7/icones/marker-02.svg");
    line-height: 30px;
    font-family: "Montserrat", sans-serif;

}

.footer .tel {
    list-style-image: url("A7/icones/tel.svg");
    line-height: 30px;
    font-family: "Montserrat", sans-serif;

}

.footer .mail {
    list-style-image: url("A7/icones/mail-01.svg");
    font-family: "Montserrat", sans-serif;

}

.footer .log {
    width: 243px;
    height: 87px;
    margin-top: 109px;
    margin-left: 96px;
}

.footer .btn {
    display: grid;
    gap: 6px;
    margin-left: 1150px;
    margin-top: -170px;
}

.footer .co {
    width: 130px;
    height: 40px;
    border-radius: 6px;
}

.footer .ins {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}

.ligne {
    margin-top: 100px;
    color: #44DD8A;
    width: 1200px;
}

.fin {
    color: white;
}

.fin .un {
    margin-left: 96px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.fin .deux {
    margin-left: 1000px;
    margin-top: -30px;
    font-family: "Montserrat", sans-serif;
}

.fin .reseau {
    display: flex;
    gap: 10px;
    margin-left: 1120px;
    margin-top: -40px;
}