*,
html {
    box-sizing: border-box;
}

body {
    margin: auto;
}

header {
    height: 80px;
    background-color: #152237;
    display: flex;
}

.logo {
    width: 5.25rem;
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 98px;
}


.p1 {
    padding-top: 20px;
    padding-left: 100px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    color: white;
    font-size: 15px;
    width: 270px;
  

}

.search {
    width: 477px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid white;
    background-color: #152237;
    border-radius: 6px;
    text-align: left;
    color: white;
}

.search1 {
    width: 2rem;
    left: 2rem;
    margin-left: -40px;

}

.Connexion {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: white;
}

.Inscription {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 6px;
    background: linear-gradient(to left, #44DD8A, #15B7E2);
}

.SectionHéro {
    position: relative;
    display: inline-block;
    width: 100%;
}

.SectionHéro img {
    display: block;
    width: 100%;
}

.SectionHéro:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
}

.cc h1 {
    color: #152237;
    position: absolute;
    top: 5%;
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    padding-left: 300px;
    font-size: 48px;
    z-index: 10;

}

.cc p {
    color: #152237;
    position: absolute;
    top: 27%;
    margin-top: 100px;
    margin-left: 480px;
    text-transform: uppercase;
    z-index: 10;
    font-size: 20px;

}

.btn2 {
    position: absolute;
    top: 35%;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    margin-left: 750px;
    margin-top: 110px;
    background-color: white;
    z-index: 10;
}
.Contenu {
    width: 100%;
}

.Contenu h2 {
    height: 72px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 36px;
    padding-top: 30px;
    padding-left: 60px;
}

.formation {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 130px;
    margin-left: 50px;
    margin-top: 60px;

}

.box {
    height: 362px;

}

.box p {
    width: 243px;
} 

.btn3 {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    background: #152237;
    color: white;
    margin-left: 630px;
    margin-top: 80px;
}

.Contenue {
    width: 100%;
    background-color: #152237;
    color: white;
}

.Contenue h2 {
    padding-top: 10px;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 36px;
    padding-top: 50px;
    padding-left: 50px;
}
.Contenu h3{
    font-family: "Montserrat-ExtraBold.ttf", sans-serif; 
}


.formations {
    background-color: #152237;
    color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 130px;
    margin-top: -100px;

}
.formations .v{
    width: 260px;
}

.box2 {
    margin-top: 136px;
    margin-left: 50px;
}

.btn4 {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    background: white;
    color: #152237;
    margin-left: 550px;
    margin-top: -80px;
}

.avis {
    height: 530px;

    
}

.avis h1 {
    text-align: center;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 58px;
}

.client h2 {
    text-align: left;
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    font-size: 24px;
}

.client {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 10px;
    margin-left: 100px;
    margin-top: 100px;
}

.client1 p {
    width: 550px;
    height: 306px;
    font-family: "Montserrat", sans-serif;

}

.client2 p {
    width: 550px;
    height: 306px;
    font-family: "Montserrat", sans-serif;
}

.tout {
    width: 616px;
    height: 295px;
}


.juliette {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;

}

.camille {
    width: 150px;
    height: 150px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.avantages {
    background-color: #F5F5F5;
    height: 641px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 70px;

}

.avantages h2{
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 100px;
}

.avantages .fleche {
    list-style-image: url("A7/icones/arrow-up-right.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .crayon {
    list-style-image: url("A7/icones/crayon.svg");
    padding-left: 20px;
    line-height: 40px;
}

.avantages .import {
    list-style-image: url("A7/icones/exporter.svg");
    padding-left: 20px;
    line-height: 40px;

}

.avantages .etoile {
    list-style-image: url("A7/icones/star-02.svg");
    padding-left: 20px;
    line-height: 40px;

}

.avantages .horloge {
    list-style-image: url("A7/icones/clock.svg");
    padding-left: 20px;
    line-height: 40px;

}

.avantages .mess {
    list-style-image: url("A7/icones/mess.svg");
    padding-left: 20px;
    line-height: 40px;
    width: 550px;


}

.imgf {
    margin-left: 640px;
    object-position: right top;
    margin-top: -370px;
    max-width: 660px;
    height: 442px;
}

.frmt {
    background-color: #44DD8A;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: right;

}

.frmt-contenu {
    display: flex;
    flex-direction: row;
}

.frmt h3 {
    font-family: "Montserrat-ExtraBold.ttf", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 5%;
}

.frmt li {
    text-align: start;
}


.frmt .coin {
    list-style-image: url("A7/icones/coin.svg");
    padding-left: 20px;


}

.frmt .coeur {
    list-style-image: url("A7/icones/coeur.svg");
    padding-left: 20px;

}

.frmt .crayon2 {
    list-style-image: url("A7/icones/crayon2.svg");
    padding-left: 20px;
}

.frmt .settings {
    list-style-image: url("A7/icones/settings.svg");
    padding-left: 20px;
    width: 616px;
}

.frmt .profil {
    list-style-image: url("A7/icones/profil.svg");
    padding-left: 20px;
    width: 616px;
}

.frmt .become {
    object-position: left;
    max-width: 729%;
    max-height: 487%;
}